body {
	font-size: 1.2em;
}

h1 {
	font-size: 2.5em;
	text-align: center;
}

.form {
  	width: 33%;
  	margin: 0 auto;
}

label, button {
    font-size: 1.1em !important;
}

button:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;	
	box-shadow: none !important;
}

img {
	float: left;
    width: 350px;
    margin: 10px;
    overflow: hidden;
}

.clear {
	overflow: auto;
}

.results {
	width: 75%;
	margin-left: 150px;
	margin-right: 100px;
}